
@font-face {
    font-family: "MyFontBold";
    src: url("../assets/fonts/Chrip-Bold") format("truetype");
}
@font-face {
    font-family: "MyFontHeavy";
    src: url("../assets/fonts/Chrip-Heavy") format("truetype");
}
@font-face {
    font-family: "MyFontMedium";
    src: url("../assets/fonts/Chrip-Medium") format("truetype");
}
@font-face {
    font-family: "MyFontRegular";
    src: url("../assets/fonts/Chrip-Regular") format("truetype");
}