// Mixin for flexbox alignment
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Mixin for flexbox column alignment
@mixin flex-around {
  display: flex;
  flex-direction: row;
justify-content: space-around;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

//mixin for flex-alignment
@mixin flex-align-center {
    display: flex;
    align-items: center;    
}

@mixin width_height_100 {
    width: 100%;
    height: 100vh;
}

// Mixin list 
@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}


// mixin for btn
@mixin btn {
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 9999px;
    transition: background-color 0.3s, color 0.3s;
   
}