$dim_50: #5f99f7;
$dim_100: #38444d;
$dim_200: #202e3a;
$dim_300: #253341;
$dim_400: #192734;
$dim_500: #162d40;
$dim_600: #15202b;


$xs: "614px";
$sm: "1002px";
$md: "1022px";
$lg: "1092px";
$xl: "1280px";
